body{
width:100%;
height:101px;
margin:0;
background: url("../resource/bg.png");
}
#main{
margin: auto;
WIDTH: 960px;
height: 101px;
BORDER-TOP-STYLE:none;
PADDING-TOP: 0px;
BORDER-RIGHT-STYLE: none;
BORDER-LEFT-STYLE: none;
POSITION: relative;
TOP: 0px;
TEXT-ALIGN: left;
BORDER-BOTTOM-STYLE:none;

}


a{
color:green;
text-decoration:none;
}

#header_manu{
margin: auto;
width: 960px;
Height: 13px;
padding: 65px 10px 0px 15px;
text-indent: 40px;
font-size:14px;

}
a:hover {
text-decoration:underline;
color:red;
}


#header{
background: url("../resource/top_banar.jpg");

MARGIN: auto;
WIDTH: 960px;
Height: 101px;
BORDER-TOP-STYLE:none;
PADDING-TOP: 0px;
BORDER-RIGHT-STYLE: none;
BORDER-LEFT-STYLE: none;
POSITION: relative;
TOP: 0px;
TEXT-ALIGN: left;
BORDER-BOTTOM-STYLE:none;
}


#search {
margin-left: 715px;
margin-top: -76px;
}

#edit-text{
margin-left: -140px;
font-weight: bold;
}
#edit-search{
height: 14px;
width: 130px;
}
#edit-submit{
height: 22px;
width: 90px;
}

#footer  {
width:960px;
height: 106px;
background:url("../resource/bg_footer.gif");
position: absolute;
top:745px;
}

#footer_menu{
width: 960px;
height:30px;
position:inherit;
left:-10px;
line-height:0;
text-align:center;
color: white;
font-size:13px;
}

#footer_menu a{
text-decoration:none;
color:white;
}
#footer_menu li{display:inline;}

#footer_menu a:hover{
text-decoration:underline;
color:green;
}
#footer_menu li:after{
content: '|';
padding-left:6px;
padding-right:3px;

}
#footer_menu li:last-child:after{
content: none;
}

#footer_text{
width:960px;
height:60px;
margin:auto;
position:relative;
top:19px;
font-size:13px;
text-align:center;
line-height:14px;
word-spacing:3px;
}

