body{
width:100%;
height:101px;
margin:0;
background: url("../resource/bg.png")#f9fcfb repeat-x;
}
#main{
margin: auto;
WIDTH: 960px;
height: 101px;
BORDER-TOP-STYLE:none;
PADDING-TOP: 0px;
BORDER-RIGHT-STYLE: none;
BORDER-LEFT-STYLE: none;
POSITION: relative;
TOP: 0px;
TEXT-ALIGN: left;
BORDER-BOTTOM-STYLE:none;

}


a{
color:green;
text-decoration:none;
}

#header_manu{
margin: auto;
width: 960px;
Height: 13px;
padding: 65px 10px 0px 15px;
text-indent: 40px;
font-size:14px;

}
a:hover {
text-decoration:underline;
color:red;
}


#header{
background: url("../resource/top_banar.jpg");

MARGIN: auto;
WIDTH: 960px;
Height: 101px;
BORDER-TOP-STYLE:none;
PADDING-TOP: 0px;
BORDER-RIGHT-STYLE: none;
BORDER-LEFT-STYLE: none;
POSITION: relative;
TOP: 0px;
TEXT-ALIGN: left;
BORDER-BOTTOM-STYLE:none;
}


#search {
margin-left: 715px;
margin-top: -76px;
}

#edit-text{
margin-left: -140px;
font-weight: bold;
}
#edit-search{
height: 14px;
width: 130px;
}
#edit-submit{
height: 22px;
width: 90px;
}

.sidebar{
margin-top: 10px;
}
#sidebar-left{
width:170px;
}
#border{
border:1px solid #000;
}
#nav{
font-size:14px;
width:168px;
}
#nav ul{
margin:0px;
padding-top:0px;
background:#9EC9B6;
}
#nav li{
list-style:none;
}

ul.top-level{
background:#666;
margin:0;
padding:0;
}

ul.top-level li{
background:#fff solid;
border-top:#000 solid;
border-width:1px;
}
#nav a{
color:#000;
cursor:pointer;
display:block;
height:25px;
line-height:25px;
text-indent:5px;
text-decoration:none;
width:100%;
}

#nav a:hover{
text-decoration:underline;
}

#nav li:hover{
background:#BBDC95;
position:relative;
}

ul.sub-level{
display:none;
margin:0;
padding:0;
}

li:hover .sub-level{
background:#9EC9B6;
border:#fff solid;
border-width:1px;
display:block;
position:absolute;
left:75px;
top:5px;
}
ul.sub-level li{
float:left;
width:200px;
border-width:1px;
}
#nav .sub-level{
background:#9EC9B6;
margin-left:95px;
}

#nav .sub-level .sub-level{
background:#9EC9B6;
margin:0;
padding:0;
margin-left:125px;
}

li:hover .sub-level .sub-level{
display:none;
}
.sub-level li:hover .sub-level{
display:block;
}

.sidebar-bottom{
border:1px solid #000;
width:168px;
height:48px;
margin-top:10px;
}


.sidebar-bottom-text ul{
background: #9EC9B6;
margin:0;
padding:0;
}

.sidebar-bottom-text ul li{
list-style:none;
width:150px;
text-indent:5px;
}

.sidebar-bottom-text ul li a{
color:#000;
text-indent:5px;
line-height:21px;

}
.sidebar-bottom-text ul li a:hover{
background: #BBDC95;
}

.text{
background:#A6D682;
margin-bottom:-20px;
margin-top:-20px;
}

.text1{
background: #A6D682;
}
.h2{
font-size: 12px;
font-weight: bold;
line-height: 20px;
}


#sidebar-middle{
width:560px;
margin:-470px 0px 0px 190px;
}

#sidebar-middle1{
width:560px;
margin:-470px 0px -903px 190px;
}

#sidebar-middle2{
width:560px;
margin:-470px 0px -900px 190px;
}

#sidebar-middle3{
width:560px;
margin:-470px 0px 77px 190px;
}
#sidebar-middle4{
width:560px;
margin:-470px 0px -3612px 190px;
}

#sidebar-middle5{
width:560px;
margin:-470px 0px -1122px 190px;
}
#sidebar-middle10{
width:560px;
margin:-470px 0px 124px 190px;
}

#sidebar-middle11{
width:560px;
margin:-470px 0px 106px 190px;
}
#sidebar-middle12{
width:560px;
margin:-470px 0px 248px 190px;
}
#sidebar-middle13{
width:560px;
margin:-470px 0px 194px 190px;
}
#sidebar-middle14{
width:560px;
margin:-470px 0px 51px 190px;
}
#sidebar-middle15{
width:560px;
margin:-470px 0px -145px 190px;
}
#sidebar-middle16{
width:560px;
margin:-470px 0px 121px 190px;
}
#sidebar-middle17{
width:560px;
margin:-470px 0px 121px 190px;
}
#sidebar-middle18{
width:560px;
float:centre;
margin:-470px 0px 25px 190px;
}
#sidebar-middle19{
width:560px;
float:centre;
margin:-470px 0px -141px 190px;
}
.font{
font-weight: bold;
}
.space{
margin-top:670px;
}
.space1{
margin-top:690px;
}

.space2{
margin-top:3400px;
}

.space3{
margin-top:900px;
}
tbody {
border-top: 1px solid #ccc;
}
table {
border-collapse: collapse;
}

tr.odd{
	height:100px;
	text-align: center;
background-color: #edf5fa;
}
tr.even {
	height:100px;
	text-align: center;
background-color: #fff;
}

#description{
font-size:14px;
}

.list {width:260px;margin-right:30px;background:#EDEDED;float:left;padding:20px}
.list ul {margin:0;padding:0;list-style:none}
.list ul li{padding:5px;border-bottom:1px solid #ddd}
.list ul li a{text-decoration:none;color:#666}
.list ul li a:hover{color:#000}

#sidebar-right{
background:url("../resource/bg_main_service.jpg");
float: right;
margin-top: -327px;
padding-top: 30px;
width: 190px;
height: 325px;
position: relative;
font-size: 13px;
}
#sidebar-right ul li{
list-style:none;
}
#sidebar-right ul li a{

font-weight: bold;
line-height: 50px;
margin-left: -20px;
}

#footer  {
width:960px;
height: 106px;
background:url("../resource/bg_footer.gif");
position: absolute;
top:610px;
}

#footer_menu{
width: 960px;
height:30px;
position:inherit;
left:-10px;
line-height:0;
text-align:center;
color: white;
font-size:13px;
}

#footer_menu a{
text-decoration:none;
color:white;
}
#footer_menu li{display:inline;}

#footer_menu a:hover{
text-decoration:underline;
color:green;
}
#footer_menu li:after{
content: '|';
padding-left:6px;
padding-right:3px;

}
#footer_menu li:last-child:after{
content: none;
}

#footer_text{
width:960px;
height:60px;
margin:auto;
position:relative;
top:19px;
font-size:13px;
text-align:center;
line-height:14px;
word-spacing:3px;
}


.career_td
{
	border: 1px solid #CDC1A7;
	height: 40px;
}
